language: ruby
rvm:
  - 2.2.4

before_script:
  - cp config/database.yml.example config/database.yml
  - RAILS_ENV=test bundle exec rake db:migrate

script: 'bundle exec rspec'

cache: bundler

branches:
  only:
    - master

notifications:
  recipients:
    - deepakmahakale@gmail.com
