name: Ruby

on: [push]

jobs:
  build:

    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.5.x
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5.x
    - name: Copy the database config
      run: |
        cp config/database.yml.example config/database.yml
    - name: Build and test with Rspec
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3 
        bundle exec rake
